.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.Navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(121, 78, 78);
  color: white;
  font-size: 25px;
}

.nav-item {
  margin: 15px;
  color: white;
  text-decoration: none;
}

.Dashboard {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.table {
  font-size: 38px;
  color: red;
}

.table-header {
  color: blue;
  border-bottom: none;
}

.row {
  padding: 20px;
  border-right: 10px none black;
}


.ShowStock {
  display: flex;
  flex-flow: column;
  font-size: 25px;
}

.stock-name {
  font-size: 80px;
}